nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

main {
 padding: 1rem;
}